<!DOCTYPE html>
<html>
<head>
  <title><%= @subject %></title>
<p> email recipient: <%= @recipient %> </p>
</head>
<body>
  <h1>Hello!</h1>
<p>Dont forget that about the <%=@subject%> on <%= @body %></p>

  <!-- You can include more HTML content as needed. -->
</body>
</html>
