<!DOCTYPE html>
<html>
<head>
  <title><%= @subject %></title>
</head>
<body>
  <h1>Hello, <%= @recipient %>!</h1>

  <p><%= @body %></p>

  <!-- You can include more HTML content as needed. -->
</body>
</html>
